{% extends "layout-private.html" %}

{% block title %}
{{ materi.judul }} - {{ parent() }}
{% endblock %}

{% block content %}
<div class="span6">
<div class="module">
    <div class="module-head"  style="background-color: white">  
        
        <img style="height:45px;width:45px; margin-right: 10px;padding: 0;border: 0;" class="img-polaroid img-circle pull-left" src="{{ materi.pembuat.link_foto }}">
        <a href="{{ materi.pembuat.link_profil }}">{{ materi.pembuat.nama }}</a>
                menambahkan materi pada <b style="color: darkorange;">sesi #{{materi.sesi}}</b> mata pelajaran <b style="color: darkorange;">{{ materi.mapel.nama }}</b> <br>
                <time style="font-weight: normal;" class="timeago" datetime="{{ materi.tgl_posting }}">{{ materi.tgl_posting }}</time>
    </div>
    <div class="module-body" style="background-color: white;">
      <span style="color: black; font-size: 20px;margin-bottom: 20px;">{{ materi.judul }}</span>
        <div class="wrap-content" style="font-weight: normal;">
            <div class="content">
                {{ materi.konten|raw }}
                {% if (materi.file!=null) %}
                <div style="background-color: rgb(220, 232, 238);border-radius: 3px;padding: 5px 10px 5px 10px;">
                    <a href="{{ site_url('welcome/download_materi/'~materi.file~ '/'  ~materi.id) }}" style="font-weight: bold;">{{ materi.file }}</a>
                </div>
                {% endif %}
            </div>
        </div>
  
        {% if error is not defined %}
            <hr>
            <div class="row-fluid">
                <div class="span12">
                    <h4>
                        <i class="icon-pencil"></i> Tulis komentar
                        <div class="pull-right" style="font-size: 14px;">{{ form_error('komentar')|raw }}</div>
                    </h4>
                    <div class="bg-form-komentar" id="form-komentar">
                        <form method="post" action="{{ site_url('materi/detail/' ~ materi.id) }}">
                            <p><textarea class="span12 texteditor-komentar" id="komentar" name="komentar">{{ set_value('komentar')|raw }}</textarea></p>
                            <p>
                                <button class="btn btn-primary pull-right" title="Kirim komentar">Kirim komentar</button>
                                <img style="border:0px; padding: 1px; width: 35px;height: 35px;" src="{{ get_url_image_session(get_sess_data('user', 'foto'), 'medium', get_sess_data('user', 'jenis_kelamin')) }}" style="height:30px;width:30px; margin-right:5px;" class="img-circle img-polaroid">
                                Kamu
                            </p>
                            <div class="clear"></div>
                        </form>
                    </div>
                    <br>

                    {% if materi.jml_komentar > 0 %}
                        <h4><i class="icon-comments"></i> {{ materi.jml_komentar }} Komentar</h4>

                        {% for k in materi.komentar %}
                        <div class="komentar" id="komentar-{{ k.id }}">
                            <img style="border:0px; padding: 1px; width: 40px;height: 40px;" src="{{ k.login.link_image }}" style="height:25px;width:25px; margin-left:5px;" class="img-circle img-polaroid">
                            <a href="{{ k.login.link_profil }}">
                                <b style="color: rgb(29, 29, 170);">
                                    {% if k.login.id == get_sess_data('user','id') %}
                                    Kamu
                                    {% else %}
                                    {{ k.login.nama }}
                                    {% endif %}
                                </b>
                            </a> 
                                <span>{{ k.login.kelas }}</span>
                               <small class="pull-right"><time style="font-weight: normal;" class="timeago" datetime="{{ k.tgl_posting|date('d F Y H:i:s') }}">{{ materi.tgl_posting }}</time></small>
                                
                                <!-- <small><a href="{{ site_url('materi/detail/' ~ materi.id ~ '/laporkan/' ~ k.id) }}" class="text-muted iframe-laporkan"><i class="icon-bug"></i> laporkan</a></small> -->
                            <br>
                            <span style="font-weight: normal;">{{ k.konten|raw }}</span style="font-weight: normal;">
                        </div>
                        {% endfor %}

                        <div style="font-size:12px;">
                        {{ materi.komentar_pagination|raw }}
                        </div>
                    {% endif %}
                </div><hr>
            </div>

        {% else %}
            <div class="alert alert-danger">
                <h3>{{ error }}</h3>
            </div>
        {% endif %}
          
    </div>
</div>

{% endblock %}
