<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{ site_name }}{% endblock %}</title>
        {% include 'layout-header.html' %}
        <link type="text/css" href="{{ base_url_theme }}css/read.css" rel="stylesheet">
        {% block css %}{% endblock %}
    </head>
    <body>

        {% block content %}{% endblock %}

        <br><br>
        <!--/.wrapper-->
        <div class="footer">
            <div class="container">
                <center>
                    <b>Media Belajar Online</b></br>
                    <b class="copyright">{{ copyright|raw }} </b></br>
                    by Harianto Rais
                </center>
            </div>
        </div>

        {% include 'layout-footer.html' %}
        {% block js %}{% endblock %}
    </body>
</html>
