<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'layout-header.html' %}
        <link type="text/css" href="{{ base_url_theme }}css/read.css" rel="stylesheet">
        <link type="text/css" href="{{ base_url_theme }}css/theme.css" rel="stylesheet">
        {% block css %}{% endblock %}
    </head>
    <body>

        {% block content %}{% endblock %}

        <br><br>
        <!--/.wrapper-->
        <div class="footer">
            <div class="container">
                <center>
                    <b>Ujian Sekolah Berbasis Komputer</b> <br>
                    <b class="copyright">{{ site_name }}</b><br>
                    by Harianto Rais
                </center>
            </div>
        </div>

        {% include 'layout-footer.html' %}
        {% block js %}{% endblock %}
    </body>
</html>
