{% extends "layout-private.html" %}

{% block title %}
Materi - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        {% if is_siswa() == false %}
            <div class="btn-group pull-right" style="margin-top:-5px;">
                <!-- {{ anchor('materi/add/tertulis', '<i class="icon-pencil"></i>Tambah Materi Tertulis', {'class' : 'btn btn-primary'})|raw }} -->
                {{ anchor('materi/add/file', '<i class="icon-plus"></i>Tambah', {'class' : 'btn btn-primary'})|raw }}
            </div>
        {% endif %}
        <h3>Materi</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('materi')|raw }}

        <div class="bs-callout bs-callout-warning">
            <b><a class="as-link" data-toggle="collapse" data-target="#form-filter"><i class="icon-search" style="line-height: 0px;"></i> CARI MATERI</a></b>

            <div id="form-filter" class="collapse" style="margin-top: 5px;">
                {{ form_open('materi')|raw }}
                    <table class="table table-condensed">
                        <tr>
                            <th  style="border-top: none;">Mapel</th>
                            <td  style="border-top: none;">
                                <ul class="unstyled inline" style="margin-left: -5px;">
                                    {% for m in mapel %}
                                    <li>
                                        <label class="checkbox inline">
                                            <input type="checkbox" name="mapel_id[]" value="{{ m.id }}" {{ set_checkbox('mapel_id[]', m.id, (filter.mapel_id is not empty and in_array(m.id, filter.mapel_id)) ? true) }}> {{ m.nama }}
                                        </label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Kelas</th>
                            <td>
                                <ul class="unstyled inline" style="margin-left: -5px;">
                                    {% for k in kelas %}
                                    <li>
                                        <label class="checkbox inline">
                                            <input type="checkbox" name="kelas_id[]" value="{{ k.id }}" {{ set_checkbox('kelas_id[]', k.id, (filter.kelas_id is not empty and in_array(k.id, filter.kelas_id)) ? true) }}> {{ k.nama }}
                                        </label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Tipe</th>
                            <td>
                                <ul class="unstyled inline" style="margin-left: -5px;">
                                    <li>
                                        <label class="checkbox inline">
                                            <input type="checkbox" name="type[]" value="tertulis" {{ set_checkbox('type[]', 'tertulis', (filter.type is not empty and in_array('tertulis', filter.type)) ? true) }}> Tertulis
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox inline">
                                            <input type="checkbox" name="type[]" value="file" {{ set_checkbox('type[]', 'file', (filter.type is not empty and in_array('file', filter.type)) ? true) }}> File
                                        </label>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th width="15%">Judul</th>
                            <td>
                                <input type="text" name="judul" class="span4" value="{{ set_value('judul', filter.judul) }}">
                            </td>
                        </tr>
                        <tr>
                            <th>Konten</th>
                            <td>
                                <input type="text" name="konten" class="span5" value="{{ set_value('konten', filter.konten) }}">
                            </td>
                        </tr>
                        {% if is_admin() == true %}
                        <tr>
                            <th>Pembuat</th>
                            <td>
                                <input type="text" name="pembuat" class="span4" value="{{ set_value('pembuat', filter.pembuat) }}">
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Status</th>
                            <td>
                                <ul class="unstyled inline" style="margin-left: -5px;">
                                    <li>
                                        <label class="checkbox inline">
                                            <input type="checkbox" name="publish[]" value="1" {{ set_checkbox('publish[]', '1', (filter.publish is not empty and in_array('1', filter.publish)) ? true) }}> Terbit
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox inline">
                                            <input type="checkbox" name="publish[]" value="0" {{ set_checkbox('publish[]', '0', (filter.publish is not empty and in_array('0', filter.publish)) ? true) }}> Konsep
                                        </label>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="submit" class="btn btn-primary">Filter</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>
        
    </div>
</div>

{% for no, m in materi %}
        <div class="module" style="background-color: white;">
            <div class="module-body">
                {% if m.publish == 0 %}
                        <strong><a href="{{ site_url('materi/detail/' ~ m.id)}}" style="font-size:15px; font-weight:normal; color: grey">{{ m.judul }}</a></strong> (<b> {{ m.mapel.nama }} </b> <span>Sesi #{{ m.sesi }}</span>)
                {% elseif m.publish == 1 %}
                <strong><a href="{{ site_url('materi/detail/' ~ m.id)}}" style="font-size: 15px;color: green;">{{ m.judul }}</a></strong> (<b> {{ m.mapel.nama }} </b> <span>Sesi #{{ m.sesi }}</span>)
                {% endif %} <br>

                {% if is_pengajar() == false %}
                    <a href="{{ m.pembuat.link_profil }}">{{ m.pembuat.nama }}</a>
                     <time style="font-weight: normal;" class="timeago" datetime="{{ m.tgl_posting }}">{{ m.tgl_posting }}</time>,
                {% else %}
                    Update terakhir <time style="font-weight: normal;" class="timeago" datetime="{{ m.tgl_posting }}">{{ m.tgl_posting }}</time>,
                {% endif %} 

                Untuk kelas :    
                {% for mk in m.materi_kelas %}
                     {{ mk.nama }}, &nbsp;
                {% endfor %} <br>
    
                {% if is_siswa() == false %}
                <div class="pull-right">

                            {% if m.file is not empty %}
                                {% set url_type = 'file' %}
                            {% else %}
                                {% set url_type = 'tertulis' %}
                            {% endif %}

                            <!--  <li>{{ anchor('materi/detail/' ~ m.id, '<i class="icon-zoom-in"></i> Lihat Materi')|raw }}</li> -->

                            {{ anchor('materi/absen/' ~ m.id, '<button class="btn btn-xs btn-info"><i class="icon-group"></i> Kehadiran</button>')|raw }}

                            
                                {{ anchor('materi/edit/' ~ url_type ~ '/' ~ m.id ~ '/' ~ enurl_redirect(current_url()), '<button class="btn btn-xs btn-success" ><i class="icon-edit"></i></button>')|raw }}

                            {% if is_admin() == true %}
                                
                                {{ anchor('materi/delete/' ~ m.id ~ '/' ~ enurl_redirect(current_url()), '<button class="btn btn-danger btn-xs"><i class="icon-trash"></i></button>', {'onclick' : "return confirm('Anda yakin ingin menghapus?')"})|raw }}
                                
                            {% endif %}
                    </div>
                {% endif %}

                <i class='icon-comments'></i> {{ m.jml_komentar }} Komentar <br>

               


            </div>
        </div>
{% endfor %}
{{ pagination|raw }}
{% endblock %}
