<div class="visible-phone">
  <table class="table" width="100%">
      <tr>
          <td width="25%" style="border-style: none;">
              <center>
              <a style="text-decoration: none;" href="{{ site_url('materi?clear_filter=true') }}">
                  <i style="font-size: 30px" class="icon-book"></i>
                  <p>Materi</p>
              </a>
              </center>
          </td>
          <td width="25%" style="border-style: none;">
              <center>
                <a style="text-decoration: none;" href="{{ site_url('tugas?clear_filter=true') }}">
                  <i style="font-size: 30px" class="icon-tasks"></i>
                  <p>Tugas</p>
              </a>
              </center>
          </td>
          <td width="25%" style="border-style: none;">
              <center>
              <a style="text-decoration: none;" href="{{ site_url('siswa/index/1') }}">
                  <i style="font-size: 30px" class="icon-group"></i>
                  <p>Siswa</p>
              </a>
              </center>
          </td>
          <td width="25%" style="border-style: none;">
              <center>
               <a style="text-decoration: none;" href="{{ site_url('message') }}">
                  <i style="font-size: 30px" class="icon-comments"></i>
                  <!-- <b>{{ jml_pengajar }}</b> -->
                  <p>Pesan<span class="menu-count-new-msg2"></span></p>
              </a>
              </center>
          </td>
      </tr>
  </table>
  </div>