{% extends "layout-private.html" %}

{% block title %}
Sesi - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>Materi</h3>
    </div>
    <div class="module-body"  style="background-color: white">
        <!-- JIKA SISWA -->
        {% if (is_siswa() == true) %}
          <table width="100%">
            <tbody>
                
                  <tr>
                      <td>
                          <span class="text-success" style="font-size: 20px">{{ materi.judul }}</span>
                      </td>
                  </tr>
                
            </tbody>
          </table>
        {% endif %}
        <br>
        {{ pagination|raw }}

    </div>
</div>
{% endblock %}
