{% extends "layout-private.html" %}

{% block content %}


<div class="btn-controls">
    <div id="show-urgent-info"></div>

    
        <div class="span8">
            <div class="visible-desktop alert"><h4>Assalamu'alaikum. Selamat Datang {{ get_sess_data('user', 'nama') }}.</h4></div>
            <table class="visible-phone visible-tablet" width="100%">
                <tr>
                    <td><img src="{{ get_url_image_session(get_sess_data('user', 'foto'), 'medium', get_sess_data('user', 'jenis_kelamin')) }}" class="nav-avatar-welcome img-polaroid" />
                    </td>
                    <td width="70%">
                                <b style="color: black;">{{ get_sess_data('user', 'nama') }}</b> <br>
                                {% if is_siswa() %}                                
                                Kelas {{ pengguna.nama_kelas }}
                                {% endif %}
                                {% if is_pengajar() %}                                
                                Pengajar
                                {% endif %}
                                {% if is_admin() %}                                
                                Pengajar | <span class="badge badge-warning">Administrator</span>
                                {% endif %}
                   
                        {% if is_admin() %}
                        {{ anchor('pengajar/detail/'~ get_sess_data('user', 'status_id') ~'/' ~ get_sess_data('user', 'id'), '<i style="font-size: 16px; color: grey" class="icon-edit"></i>', {'title' : 'Detail Profil'})|raw }}
                        {% endif %}

                        {% if is_pengajar() %}
                        <a href="{{ site_url('login/pp') }}" style="text-decoration: none;"><i style="font-size: 16px; color: grey" class="icon-edit"></i></a>
                        {% endif %}

                        {% if is_siswa() %}
                        <!-- {{ anchor('login/pp', '<i style="font-size: 16px; color: grey" class="icon-edit"></i>')|raw }} -->
                        {% endif %}
                    </td>
                </tr>
            </table>
            <div class="visible-tablet visible-phone">
                <br><br>
            </div>
            <li class="nav-user dropdown visible-phone">
                <ul class="dropdown-menu">
                    {% if is_admin() %}
                    <li>{{ anchor('pengajar/detail/'~ get_sess_data('user', 'status_id') ~'/' ~ get_sess_data('user', 'id'), 'Detail Profil', {'title' : 'Detail Profil'})|raw }}</li>
                    {% endif %}

                    {% if is_pengajar() %}
                    <li>{{ anchor('login/pp', 'Profil & Akun Login')|raw }}</li>
                    {% endif %}

                    {% if is_siswa() %}
                    <li>{{ anchor('login/pp', 'Profil & Akun Login')|raw }}</li>
                    {% endif %}

                    <li><a href="{{ site_url('login/login_log/' ~ get_sess_data('login', 'id')) }}">Login log</a></li>
                    <li><a href="{{ site_url('login/logout') }}">Logout</a></li>
                </ul>
            </li>
            
        </div>
    

    {% if is_admin() %}
    {% if count_mapel_kelas == 0 %}
    <div class="well well-large well-box" style="border:2px solid #29b7d3;">
        <b><i class="icon-wrench"></i> Atur data berikut supaya aplikasi e-learing dapat berjalan dengan baik:</b>
        <table class="table table-hover" style="margin-top:10px;">
            <tr>
                <td width="30%">
                    <a href="{{ site_url('mapel') }}"><b><i class="menu-icon icon-book"></i> Manajemen Matapelajaran</b></a>
                </td>
                <td>
                    Input semua Matapelajaran yang ada di sekolah
                </td>
            </tr>
            <tr>
                <td width="30%">
                    <a href="{{ site_url('kelas') }}"><b><i class="menu-icon icon-tasks"></i> Manajemen Kelas</b></a>
                </td>
                <td>
                    Input semua Kelas yang ada di sekolah
                </td>
            </tr>
            <tr>
                <td width="30%">
                    <a href="{{ site_url('kelas/mapel_kelas') }}"><b><i class="menu-icon icon-paste"></i> Matapelajaran Kelas</b></a>
                </td>
                <td>
                    Atur Matapelajaran pada tiap-tiap Kelas
                </td>
            </tr>
        </table>
    </div>
    {% endif %}
    
    {% include 'menu-phone.html' %}

    <div class="span5">
        {% for p in pengumuman %}
        <div class="module" style="background-color: white;">
            <div class="module-head"  style="background-color: white">  
                <img style="height:45px;width:45px; margin-right: 10px;padding: 0;border: 0;" class="img-polaroid img-circle pull-left" src="{{ get_url_image_pengajar(p.foto, 'medium', p.jenis_kelamin) }}">
                <a href="{{ site_url('pengajar/detail/' ~ status_id ~ '/' ~ p.pengajar_id) }}">{{ p.nama }}</a>
                        menambahkan pengumuman <br>
                        <time style="font-weight: normal;" class="timeago" datetime="{{ p.tgl_tampil }}">{{ p.tgl_tampil }}</time>
            </div>
            <div class="module-body">
                <h4>{{ p.judul|raw }}</h4>
                <div class="wrap-content" style="font-weight: normal;">
                    <div style="padding: 20px; background-color: rgb(238, 238, 238); border-radius: 5px;">
                    {{ p.konten|raw }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="span3">
        <div class="module">
            <div class="module-head" style="background-color: white">
                <span class="badge" style="background-color: salmon; color: white"><i class="icon-signin"></i> Riwayat Login User</span>
            </div>
            <div class="module-body">
                <div style="font-weight: normal;" id="show-last-login-list"></div>
            </div>
          </div>
    </div>
    {% endif %}

    {% if is_pengajar() %}
    {% set peraturan = get_pengaturan('peraturan-elearning', 'value') %}
    {% if peraturan is not empty %}
    <div class="btn-box-row row-fluid">
         <div class="span12">
            <div class="well well-small well-box">
                <b>Peraturan e-learning : </b><br>
                {{ peraturan|raw }}
            </div>
         </div>
    </div>
    {% endif %}

    {% include 'menu-phone.html' %}

    
        <div class="span5">
            {% for p in pengumuman %}
            <div class="module" style="background-color: white;">
                <div class="module-head"  style="background-color: white">  
                    <img style="height:45px;width:45px; margin-right: 10px;padding: 0;border: 0;" class="img-polaroid img-circle pull-left" src="{{ get_url_image_pengajar(p.foto, 'medium', p.jenis_kelamin) }}">
                    <a href="{{ site_url('pengajar/detail/' ~ status_id ~ '/' ~ p.pengajar_id) }}">{{ p.nama }}</a>
                            menambahkan pengumuman <br>
                            <time style="font-weight: normal;" class="timeago" datetime="{{ p.tgl_tampil }}">{{ p.tgl_tampil }}</time>
                </div>
                <div class="module-body">
                    <h4>{{ p.judul|raw }}</h4>
                    <div class="wrap-content" style="font-weight: normal;">
                        <div style="padding: 20px; background-color: rgb(238, 238, 238); border-radius: 5px;">
                        {{ p.konten|raw }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    
    {% endif %}

    {% if is_siswa() %}
    {% set peraturan = get_pengaturan('peraturan-elearning', 'value') %}
    {% if peraturan is not empty %}
    <div class="btn-box-row row-fluid">
         <div class="span12">
            <div class="well well-small well-box">
                <b>Peraturan e-learning : </b><br>
                {{ peraturan|raw }}
            </div>
         </div>
    </div>
    {% endif %} 

    <div class="visible-phone">
        <table class="table" width="100%">
            <tr>
                <td width="25%" style="border-style: none;">
                    <center>
                    <a style="text-decoration: none;" href="{{ site_url('siswa/jadwal_mapel') }}">
                        <i style="font-size: 30px" class="icon-book"></i>
                        <p>Mapel</p>
                    </a>
                    </center>
                </td>
                
                <td width="25%" style="border-style: none;">
                    <center>
                    <a style="text-decoration: none;" href="{{ site_url('kelompok') }}">
                        <i style="font-size: 30px" class="icon-comments"></i>
                        <p>Ruang Diskusi</p>
                    </a>
                    </center>
                </td>
                <td width="25%" style="border-style: none;">
                    <center>
                     <a style="text-decoration: none;" href="{{ site_url('login/logout') }}">
                        <i style="font-size: 30px" class="icon-signout"></i>
                        <!-- <b>{{ jml_pengajar }}</b> -->
                        <p>Logout</p>
                    </a>
                    </center>
                </td>
            </tr>
        </table>
        </div>

        <div class="span5">
            <div class="module">
                <div class="module-head" style="background-color: white">
                    <h3>Tugas belum dikerjakan</h3>
                </div>
                <div class="module-body" style="background-color: white">
                    <table class="table table-striped table-condensed">

                    {% for m in tugas_terbaru %}
                    {% if sudah_ngerjakan(m.id, get_sess_data('user', 'id')) == false %}
                    <tr>
                        <td>
                            <b>{{ m.judul }}</b>
                            <button type="button" class="btn btn-xs btn-primary pull-right" data-toggle="modal" data-target="#mulai-mengerjakan{{ m.id }}"><i class="icon-arrow-right"></i>
                                        Kerjakan
                            </button>

                            <div class="modal fade" id="mulai-mengerjakan{{ m.id }}" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <!-- <span style="font-size: 15pt">Bismillah... <br>Ana atas nama <b>{{ strtoupper(get_sess_data('user', 'nama')) }}</b> menyatakan, akan berjanji mematuhi tata tertib ujian. Apabila ana terbukti melakukan kecurangan atau melanggar tata tertib ujian, maka ana bersedia dikeluarkan dari ruang ujian.</span> -->
                                        <span style="font-size: 15px;">Apakah antum siap mengerjakan tugas ini {{ strtoupper(get_sess_data('user', 'nama')) }} ?</span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Belum</button>
                                        <a class="btn btn-primary" href="{{ site_url('tugas/kerjakan/'~m.id) }}" id="btn-submit">Siap</a>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
            
            
                {% for p in pengumuman %}
                <div class="module" style="background-color: white;">
                    <div class="module-head"  style="background-color: white;">  
                        <img style="height:45px;width:45px; margin-right: 10px;padding: 0;border: 0;" class="img-polaroid img-circle pull-left" src="{{ get_url_image_pengajar(p.foto, 'medium', p.jenis_kelamin) }}">
                        <a href="{{ site_url('pengajar/detail/' ~ status_id ~ '/' ~ p.pengajar_id) }}">{{ p.nama }}</a>
                                menambahkan pengumuman <br>
                                <time style="font-weight: normal;" class="timeago" datetime="{{ p.tgl_tampil }}">{{ p.tgl_tampil }}</time>
                    </div>
                    <div class="module-body">
                        <h4>{{ p.judul|raw }}</h4>
                        <div class="wrap-content" style="font-weight: normal;">
                            <div style="padding: 20px; background-color: rgb(248, 247, 247); border-radius: 5px;">
                            {{ p.konten|raw }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
        
        </div>

          <div class="span3">
            <div class="module">
                <div class="module-head">
                    <h3>Matapelajaran</h3>
                </div>
                <div class="module-body">
                    {% for no, v in mapels %}
                            <a href="{{ site_url('welcome/mapel_sesi/'~v.id) }}" style="font-size: 14px;">{{ v.nama }}</a>
                            <br><small>{{ v.info|nl2br }}</small>
                    {% endfor %}
                </div>
            </div>
              <!-- <div class="module">
                <div class="module-head" style="background-color: white; font-size: 15px">
                    Pengumuman
                </div>
                <div class="module-body" style="padding: 0">
                    <table class="table table-striped table-condensed">
                        {% for p in pengumuman %}
                        <tr>
                            <td style="padding-left: 15px">{{ anchor('pengumuman/detail/' ~ p.id, p.judul)|raw }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div> -->
          </div>


    {% endif %}

    

    
</div>

{% endblock %}
